*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header_selections{
    background-color: #e31837;
    padding: 18px 0;
    position: fixed; /* Cố định header */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: 84px;
    margin-right: 84px;
    z-index: 9999;
}

.header_selections img{
    width: 50px;
}

.header_container ul{
    display: flex;
    gap: 12px;
    list-style: none;
}

.header_container ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    font-weight: 550;
    padding: 30px 12px;
}

ul li a.active{
    background-color: white;
    color: #d91a2a;
    border-radius: 5
}

ul li a:hover {
    background-color: white;
    color: #d91a2a;
    border-radius: 5px;
}
